body {
    font-family: "Times New Roman", Times, serif;
    background-color: white;
}

div {
    padding-bottom: 20px;
}

h1 {
    text-align: center;
}

nav {
    border-bottom: 2px dotted black;
    background-color: lightblue;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    padding-top: 1em;
}

.nav1,
.nav2,
.nav3 {
    display: inline-block;
    width: 33%;
    text-align: center;
}

.infoview {
    text-align: center;
}

.tasks {
    background-color: lightblue;
    padding: 0.2em;
}

.task_block {
    text-align: center;
    background-color: cornsilk;
    margin: 0.2em;
    padding: 0.1em;
}

.task_item {
    margin: 0.2em;
    padding: 0.1em;
}
