body {
    font-family: "Times New Roman", Times, serif;
    background-color: white;
}

div {
    padding-bottom: 20px;
}

h1 {
    text-align: center;
}

nav {
    border-bottom: 2px dotted black;
    background-color: lightblue;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    padding-top: 1em;
}

.nav1,
.nav2,
.nav3 {
    display: inline-block;
    width: 33%;
    text-align: center;
}
.infoview {
    text-align: center;
}
.contents {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.contexts {
    text-align: center;
    flex-grow: 1;
}

.context-item {
    background-color: bisque;
    margin: 0.4em;
}

.tasks {
    background-color: lightblue;
    padding: 0.2em;
    flex-grow: 1;
}

.task-block {
    text-align: center;
    background-color: cornsilk;
    outline: solid;
    margin: 0.2em;
    margin-top: 0.8em;
    padding: 0.1em;
}

.task-item {
    margin: 0.2em;
    padding: 0.1em;
}

.buttons {
    text-align: center;
}

.button-1 {
    background-color: #ea4c89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    width: 40%;
    line-height: 20px;
    margin: 10px;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    transition: color 100ms;
    text-transform: uppercase;
}

.button-1:hover,
.button-1:focus {
    background-color: #f082ac;
}
